anyio
argon2-cffi
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
fsspec==2024.10.0
llvmlite==0.43.0
more-itertools==10.5.0
numba==0.60.0
numpy
openai-whisper
regex==2024.11.6
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
